* {
    margin: 5px;

}


.container {
    background-color: black;
    width: 500px;
    height: 800px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
    
   

}

.box {
    background-color: royalblue;
    display: flex;
   flex-direction: column;
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin: 25px;
   

}